/* Landing Page */


.landing-page{
    position: relative;
    width: 1400px;
    height: 850px;
    /* Background / Dark */
    background: #2F1893;
    
}


 ul{
    display: flex;
   justify-content:space-evenly; 
   
 }

