*{
    padding: 0%;
    margin: 0%;
   background-image:url(https://unsplash.com/photos/a-couple-of-palm-trees-that-are-next-to-each-other-tI8Ore3eh1M);
}


p{
    font-size: 20px;
    /* color: rgb(220, 230, 35); */
    text-align: center;
    margin: 0%;
    padding: 0%;
}